
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   background-color: rgb(54, 68, 54);
    background-position: c;
    font-family: sans-serif;
}
header{
    height: 11vh;
    background-color: rgb(17, 17, 17);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
header a{
    font-weight: 700;
    color: bisque;
    text-decoration: none;
}
header a:hover{
    color: chartreuse;
    transition: 0.8s;
    transform: scale(1);
}
header ul{
    list-style: none;
    display: flex; 
}

header ul li + li{
margin-left: 25px;
}

header img{
    width: 120px;
    height: 75px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid rgb(32, 32, 11);
    padding: 7px;
}

.hero{
    height: 300px;
    display: flex;
    padding: 24px;
    background-image: url("../images/digibanner.jpg");
    background-size: cover;
    background-position: center 25%;
    justify-content: center;
    align-items: flex-end;
     
}

.hero h2{
    font-size: 26px;
    color: bisque;
}
.hero h2:hover{
    color: chartreuse;
    transition: 0.8s;
    transform: scale(1);
    cursor: pointer;
}